@font_face {
	font-family: Russo One;
	src: url(FONTS/Russo One.ttf);
}

h1 {
	font-family: Russo One;
	font-size: 50px;
	text-align: center;
}

h2 {
	font-family: Russo One;
	font-size: 30px;
	text-align: center;
}

.table {
	margin-left: auto;
  	margin-right: auto;
}

.description {
	margin: auto;
	margin-top: 10px;
	width: 50%;
	height: 50px;
	float: middle;
}


td a:hover {
	text-decoration: none;
	background-color: silver;
}

.Nav a {
	float: center;
	color: silver;
	text-align: center;
	padding: 10px 25px;
	text-decoration: none;
	font-size: 20px;
	font-family: Russo One;
}

.Nav {
	overflow: hidden;
}

.Nav a:hover {
	background-color: black;
	color: silver;
}

.Nav a.active {
	background-color: grey;
	color: silver;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.button {
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: Russo One;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  display: block;
  width: 100%;
  background-color: silver;
}

.button:hover {
	text-decoration: none;
	background-color: darkblue;
	color: silver;
}




